body, * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main{
    width: 100%;
    height: 300px;
    background: lightgoldenrodyellow;
    padding: 20px 0;
  }
  
  .container{
    width: 100%;
    height: 250px;
    background: lightpink;
  }
  
  .box{
    width: 50px;
    height: 50px;
    background: #8888aa;
    margin: 50px;
  }
  
  .topRow {
    height: 50%;
  }
  
  .bottomRow {
    height: 50%;
  }

  .topRow, .bottomRow {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  @media screen and (min-width: 400px) and (max-width: 720px) {
    .box {
      background-color: white;
    }
    .container {
      max-width: 500px;
      margin: 0 auto;
    }
  }


  @media screen and (min-width: 721px) {
    .box {
      background-color: white;
    }

    .container {
      max-width: 500px;
      margin: 0 auto;
    }

    .container {
      background-color: aqua;
    }
  }